<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .button {
          background-color: #3C7AC1; /* Blue */
          border: none;
          color: white;
          border-radius: 8px;
          text-align: center;
          display: inline-block;
          font-size: 30px;
          padding: 14px 40px;
        }
    </style>
    <title>Queries History</title>
</head>
<body
 style="background-image: url('https://www.ynet.co.il/PicServer5/2019/01/31/9037862/903783701000100980728no.jpg');
         height: 10vh ;background-repeat: no-repeat; background-size: cover; background-position: top;">
<h1
 style="color:white;">Old Queries History...</h1>
<ul id="file-list">
  {% for file in files %}
  <li><a style="font-size:35px;color:white" href="{{ url_for('download_file', file=file) }}" download>{{ file }}</a></li>
  {% endfor %}
</ul>
</body>
</html>